html {
  font-size: 1.5rem;
  background-image: url(/images/todolist-background.jpg);
  text-align: center;
}

input {
  font-size: 1rem;
  padding: 10px;
  background-color: #fafafa;
  margin-right: 10px;
}

button {
  font-size: 1rem;
  padding: 11px;
  background-color: green;
  color: white;
  cursor: pointer;
}


h1 {
  font-size: 3rem;
}

p {
  font-weight: bold;
}

#taskList, #taskCompletedList {
  padding: 0;
  width: 600px;
  margin: 0 auto;
}

#taskList li, #taskCompletedList li {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr auto 1.5rem;
  align-items: center;
  justify-content:space-between;
  height: auto;
  margin-bottom: 4.5px;
  padding: 4px;
  border: 1px solid black;
  cursor: pointer;
  text-align: left;
}

#taskCompletedList li {
  background-color: lightgreen;
}

#noTaskInput {
  color: red;
}

.remove {
  background-color: red;
  width: rem;
  border: 1px solid black;
  cursor: pointer;
}

.task-date {
  margin-right: 20px;
}

.task-text {
  margin-left: 10px;
}